html
    title THE HOT 100
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src='https://www.youtube.com/iframe_api')
        script(type="text/javascript", src="/js/jquery-3.2.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/charts.css")
        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
        link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    body
            
        div(class="container")        
            //- button(type="button", class="btn btn-info", data-toggle="collapse", data-target="#row1") collapsible
            div#row1(class="row embed-responsive embed-responsive-4by3")
                div#videoFrame(class="col-md-12 embed-responsive-item")
            div#row2(class="row")
                div#list(class="col-md-12 list-group")
                    each song in charts
                        a(class="media list-group-item", href="#", onclick="onClickSongTitle(this)")
                            div(class="media-left")
                                h3#rank= (song.rank < 10) ? "00" + song.rank : (song.rank == 100 ? song.rank : "0" + song.rank)
                            div(class="media-body")
                                h4(class="media-heading")= song.title
                                span= song.artist

        script(type="text/javascript", src="/js/charts.js")