html
    title THE HOT 100
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src='http://www.youtube.com/player_api')
        script(type="text/javascript", src="/js/jquery-3.2.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/charts.css")
        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
        link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    body
            
        div(class="container")        
            div#row1(class="row")
                div#videoFrame(class="col-md-12")
            div#row2(class="row")
                div#list(class="col-md-12 list-group")
                    each song, idx in charts
                        a(class="media list-group-item", href="#", onclick="changeSong(this)")
                            div(class="media-left")
                                h3#rank= (idx + 1 < 10) ? "00" + (idx + 1) : (idx + 1 == 100) ? idx + 1 : "0" + (idx + 1)
                            div(class="media-body")
                                h4(class="media-heading")= song.title
                                span= song.artist
    

        script(type="text/javascript", src="/js/charts.js")
