html(class="bts")
    title THE HOT 100
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src='https://www.youtube.com/iframe_api')
        script(type="text/javascript", src="/js/jquery-3.2.1.min.js")

        <!-- Material Design -->
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
        link(type="text/css", rel="stylesheet", href="/css/custom_materialize.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

        <!-- Bootstrap -->
        script(type="text/javascript", src="/js/bootstrap.min.js")
        script(type="text/javascript", src="/js/dropdowns-enhancement.js")
        link(rel="stylesheet", type="text/css", href="/css/custom_bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/css/dropdowns-enhancement.min.css")

        link(rel="stylesheet", type="text/css", href="/css/charts.css")

        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
        link(rel="icon", type="image/x-icon", href="/images/favicon.ico")

    body
        nav#navi(class="navbar navbar-inverse" style="text-overflow:hidden")
            div#naviHeader(class="navbar-brand") THE HOT 100 /
            div#naviContent(class="navbar-brand")
        
        div(class="container")
            div#row1(class="row")
                div#videoFrame(class="col-md-12")
            div#row2(class="row")
                div#list(class="col-md-12 list-group")
                    each song in charts
                        a(class="media list-group-item", href="#", onclick="onClickSongTitle(this)")
                            div(class="media-left")
                                h3#rank= (song.rank < 10) ? "00" + song.rank : (song.rank == 100 ? song.rank : "0" + song.rank)
                            div(class="media-body")
                                h4(class="media-heading")= song.title
                                span= song.artist

            //- div#disqus_thread
            //-     script.
            //-         /**
            //-         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            //-         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            //-         /*
            //-         var disqus_config = function () {
            //-         this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            //-         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            //-         };
            //-         */
            //-         (function() { // DON'T EDIT BELOW THIS LINE
            //-         var d = document, s = d.createElement('script');
            //-         s.src = 'https://snacky.disqus.com/embed.js';
            //-         s.setAttribute('data-timestamp', +new Date());
            //-         (d.head || d.body).appendChild(s);
            //-         })();

            //-     noscript Please enable JavaScript to view the
            //-         a(href="https://disqus.com/?ref_noscript")

                                
        script(type="text/javascript", src="/js/charts.js")                            
        
    footer(class="mat")
                    
        div(class="fixed-action-btn horizontal click-to-toggle")
            a(class="btn-floating btn-large blue-grey darken-4")
                i(class="large material-icons") library_music
            ul
                li(onclick="onClickPrevious()")
                    a(class="btn-floating blue-grey darken-5 waves-effect waves-circle waves-light")
                        i(class="material-icons") skip_previous
                li#playPauseButton(onclick="onClickPlayPauseButton()")
                    a(class="btn-floating blue-grey darken-5 waves-effect waves-circle waves-light")
                        i(class="material-icons") pause
                li(onclick="onClickNext()")
                    a(class="btn-floating blue-grey darken-5 waves-effect waves-circle waves-light")
                        i(class="material-icons") skip_next
                li(onclick="onClickPlayType(this)")
                    a(class="btn-floating red darken-1 waves-effect waves-circle waves-light")
                        i(class="material-icons") repeat