html
    title THE HOT 100
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        script(type="text/javascript", src="/js/jquery-3.2.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")
        link(link rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(link rel="stylesheet", type="text/css", href="/css/charts.css")
    body
            
        div(class="container")        
            div(class="row")
                iframe#videoFrame(width="420", height="345", src="")

            div(class="row")
                div#list(class="col-md-6 list-group")
                    each song, idx in charts
                        a(class="media list-group-item", href="#", onclick="changeSong(this)")
                            div(class="media-left")
                                h3#rank= (idx + 1 < 10) ? "00" + (idx + 1) : (idx + 1 == 100) ? idx + 1 : "0" + (idx + 1)
                            div(class="media-body")
                                h4(class="media-heading")= song.title
                                span= song.artist
    

        script(type="text/javascript", src="/js/charts.js")
