#row1 {
    margin-top: 1%;
    height: 33%;
}

#row2 {
    margin-top: 2%;
    margin-bottom: 1%;
    height: 60%;
}

#videoFrame {
    margin: 0;
    padding: 0;
}

#list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    margin: 0;
}

#rank {
    color: darkgray;
    margin-top: 0px;
    margin-right: 0px;
}

.hovering {
    background-color: #f5f5f5;
}

.media {
    border: none;
    margin-top: 0px;
}
