#navi {
    border-radius: 0px !important;
    height: 51px;
    margin-bottom: 0;
}

#naviHeader {
    display:inline-block;
    width:160px;
}

#eyeBtn {
    width: 50px;
}

#naviContent {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-left:0;
    font-size:1em;
    color:lightyellow;
    width:calc(100% - 210px);
}
.container {
    height: calc(100% - 51px);
    padding-top: 1%;
    padding-bottom: 2%;
}
#row1 {
    height: 38%;
    margin-bottom: 2%;
}

#row2 {
    margin-top: 0;
    margin-bottom: 0;
    height: 60%;
}

#videoFrame {
    margin: 0;
    padding: 0;
}

#list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    margin: 0;
    padding-right:0;
}

#rank {
    color: darkgray;
    margin-top: 0px;
    margin-right: 0px;
}

.hovering {
    background-color: #f5f5f5;
}

.bts .media {
    border: none;
    margin-top: 0px;
}
