#list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 92%;
    margin: 2%
}

#rank {
    color: darkgray;
    margin-top: 0px;
    margin-right: 0px;
}

.clicked {
    background-color: lightblue;
}

.media {
    border: none;
}
