#navi {
    border-radius: 0px !important;
    height: 7%;
}

#naviHeader {
    display:inline-block;
    width:160px;
}

#naviContent {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-left:0;
    padding-right:0;
    font-size:1em;
    color:lightyellow;
    width:calc(100% - 160px);
}

#row1 {
    height: 33%;
}

#row2 {
    margin-top: 2%;
    margin-bottom: 1%;
    height: 52%;
}

#videoFrame {
    margin: 0;
    padding: 0;
}

#list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    margin: 0;
}

#rank {
    color: darkgray;
    margin-top: 0px;
    margin-right: 0px;
}

.hovering {
    background-color: #f5f5f5;
}

.bts .media {
    border: none;
    margin-top: 0px;
}
